<!DOCTYPE html>
<html>
<head>
  <title>Moode</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
 <script src="//use.typekit.net/bqs8rku.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id='container'>

  </div>
  <%= javascript_include_tag 'application' %>

 <script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>

</body>
</html>
